#navbar-parent {
  margin-bottom: 60px;
  background-color: #499B46;
}

#navbar-parent li {
  font-size: 1.25em;
}

.navbar-brand {
  font-size: 1.75em;
}

#navbar-parent li:hover {
  background-color: teal;
}

body {
  font-family: "Source Sans Pro", "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.table th {
  font-size: 1.25em;
}
